<!-- Modal to confirm delete todolist -->
<div id="confirmDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>
                    <em class="fa fa-lg fa-warning">&nbsp;</em>
                        You're about to delete <strong>{{ todo.title }}</strong>. <span class="text-danger">This action cannot be undone!</span>
                </p>
                <div id="deleteTodolistFormError" class="comment hidden text-danger"></div>

            </div>
            <form class="modal-footer" id="deleteTodolistForm" method="POST">
                {% csrf_token %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
