{% extends 'simple_page.html' %}
{% load static widget_tweaks %}

<!-- simple_page blocks -->
{% block html_title %}
    - {{ todo.title }}
{% endblock %}

{% block page_title %}
    {{ todo.title }}
{% endblock %}

{% block dropdown_itens %}
    <li><a href="#" data-toggle="modal" data-target="#updateTodolist">Change name</a></li>
    <li><a href="#" data-toggle="modal" data-target="#confirmDelete">Delete list</a></li>
{% endblock %}

{% block content %}
    {% for task in todo.tasks.all %}
        <div class="alert bg-primary" role="alert">
            <em class="fa fa-lg fa-square-o">&nbsp;</em>
            {{ task.title }}
            <a href="#" class="pull-right">
                <em class="fa fa-lg fa-trash" aria-hidden="true" style="color: gray !important;"></em>
            </a>
        </div>
    {% endfor %}

    {% include 'todolist/delete.html' %}

    {% include 'todolist/update.html' %}

{% endblock %}
