{% extends 'simple_page.html' %}

{% block html_title %}List todo{% endblock %}
<!--
    <div><h1>{{ todo.title }}</h1></div>

    {% url 'todolist:todo_update' pk=todo.pk as edit_url %}
    {% url 'todolist:todo_delete' pk=todo.pk as delete_url %}
    <div>
        <button type="button" onclick="location.href='{{ edit_url }}';">Edit todolist</button>
        <button type="button" onclick="location.href='{{ delete_url }}';">Delete todolist</button>
    </div>
-->

{% block navbar %}{% endblock %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">{{ todo.title }}</h1>
			</div>
        </div>

        {% for task in todo.tasks.all %}
            <div class="alert bg-primary" role="alert">
                <em class="fa fa-lg fa-square-o">&nbsp;</em>
                 {{ task.title }}
                <a href="#" class="pull-right">
                    <em class="fa fa-lg fa-trash" aria-hidden="true" style="color: gray !important;"></em>
                </a>
            </div>
        {% empty %}
            <div>
                <a href="#">
                    <em class="fa fa-lg fa-warning" aria-hidden="true" style="color: gray !important;">&nbsp;</em>
                     Sorry, no tasks in this tododivst.
                </a>
            </div>
        {% endfor %}

    </div>
{% endblock %}
