<!-- Modal to edit and update todolist -->
{% load static widget_tweaks %}

<div id="updateTodolist" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change name</h4>
            </div>
            <form class="modal-body" id="updateTodolistForm" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {% render_field todo_create.title class="form-control" placeholder="List title" value=todo.title id="changedTitle" %}
                    <div id="updateTodolistFormError" class="comment hidden text-danger"></div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" form="updateTodolistForm">Save</button>
            </div>
        </div>
    </div>
</div>
