.comment {
    margin-top: 0;
    padding-left: 5px;
    font-size: 12px;
}

.dropdown-icon {
    display: inline;
    padding: 0;
    color: #AAA;

}

.parent .dropdown-icon:after {
    font-family: 'FontAwesome';
    content: "\f106";
}

.parent .dropdown-icon.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f107";
}
