{% load static widget_tweaks %}

<div id="sidebar" class="col-sm-3 col-lg-2 sidebar parent">
    <div class="profile-sidebar" data-toggle="collapse" href="#logout" style="cursor: pointer;">
        <div class="profile-userpic">
            {% if user.profile.picture %}
                <img src="{{ user.profile.picture.url }}" class="img-responsive" alt="">
            {% else %}
                <img src="{% static 'img/profile.png' %}" class="img-responsive" alt="">
            {% endif %}
        </div>
        <div class="profile-usertitle">
        {% if user.first_name %}
            <div class="profile-usertitle-name">{{ user.first_name }} {{ user.last_name}}</div>
        {% else %}
            <div class="profile-usertitle-name">User {{ user.pk }}</div>
        {% endif %}
            <div class="profile-usertitle-status">
                Settings
                <span data-toggle="collapse" href="#logout" class="collapsed dropdown-icon"></span>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <ul class="children collapse nav menu" id="logout" style="background-color: #f1f4f7; margin: unset;">
        <li>
            <a href="#" data-toggle="modal" data-target="#changeAvatar">
                <span class="fa fa-sign-out">&nbsp;</span> Change avatar
            </a>
        </li>
        <li>
            <a href="{% url 'logout' %}">
                <span class="fa fa-sign-out">&nbsp;</span> Logout
            </a>
        </li>
    </ul>

    <div class="divider"></div>

    <form id="formTodo" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {% render_field todo_create.title class="form-control" placeholder="New todolist" autocomplete="off" %}
            <div id="formTodoError" class="comment hidden text-danger"></div>
        </div>
    </form>

    <ul class="nav menu">
        {% include 'components/sidebar-items.html' %}
        {% for todo in todo_list %}
            <li>
                <a href="{% url 'todolist:todo_detail' pk=todo.pk %}">
                    <em class="fa fa-list-ul" aria-hidden="true">&nbsp;</em> {{ todo.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div><!--/.sidebar-->

<div id="changeAvatar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change avatar</h4>
            </div>
            <form class="modal-body" id="chageAvatarForm" method="POST" action="{% url 'todolist:profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {% render_field profile_create.picture id="image_file" %}
                    <div id="changePictureError" class="comment hidden text-danger"></div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" form="chageAvatarForm">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Request: Change the profile picture
    // $("#chageAvatarForm").submit(function (event) {
    //     event.preventDefault();
    //     var file_data = $('#image_file').prop('files')[0];
    //     var form_data = new FormData();
    //     form_data.append('file', file_data);

    //     $.ajax({
    //         url: "http://127.0.0.1:8000/api/v1/profile/{{ user.profile.pk }}",
    //         type: "PUT",
    //         data : form_data,
    //         beforeSend: function (xhr, settings) {
    //             if (!safeMethod(settings.type) && !this.crossDomain) {
    //                 xhr.setRequestHeader("X-CSRFToken", fromCookie("csrftoken"));
    //             }
    //         }
    //     }).done(function (data) {
    //         location.reload();
    //     }).fail(function (data) {
    //         $("#changePictureError").text("Image file not uploaded!");
    //         $("#changePictureError").removeClass("hidden");
    //     })
    // });
</script>
