{% load static widget_tweaks %}

<div id="sidebar" class="col-sm-3 col-lg-2 sidebar parent">
    <div class="profile-sidebar" data-toggle="collapse" href="#logout">
        <div class="profile-userpic">
            <img src="{% static 'img/profile.png' %}" class="img-responsive" alt="">
        </div>
        <div class="profile-usertitle">
        {% if user.first_name %}
            <div class="profile-usertitle-name">{{ user.first_name }} {{ user.last_name}}</div>
        {% else %}
            <div class="profile-usertitle-name">User {{ user.pk }}</div>
        {% endif %}
            <div class="profile-usertitle-status">
                Settings
                <span data-toggle="collapse" href="#logout" class="collapsed dropdown-icon"></span>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <ul class="children collapse nav menu" id="logout" style="background-color: #f1f4f7; margin: unset;">
        <li>
            <a class="" href="#">
                <span class="fa fa-sign-out">&nbsp;</span> Logout
            </a>
        </li>
    </ul>

    <div class="divider"></div>

    <form id="formTodo" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {% render_field todo_create.title class="form-control" placeholder="New todolist" %}
            <div id="formTodoError" class="comment hidden text-danger"></div>
        </div>
    </form>

    <ul class="nav menu">
        {% include 'components/sidebar-items.html' %}
        {% for todo in todo_list %}
            <li>
                <a href="{% url 'todolist:todo_detail' pk=todo.pk %}">
                    <em class="fa fa-list-ul" aria-hidden="true">&nbsp;</em> {{ todo.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div><!--/.sidebar-->
